/* Style navbar */
#navbar {
    overflow: hidden;
    background-color: black;
    position:fixed;
    top: 0;
    width: 100%;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2
    text-align: center;
    padding: 14px 20px 14px 20px;
    text-decoration: none;
}

/*When mouse hovers over link*/
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Page content */
.content {
    margin-top: 30px;
}

.main {
    background-color: blueviolet;
    height: 1500px;
    
}

body {
    margin: 0;
}

p {
   padding: 10px; 
}

h1 { 
    padding: 10px;
}
