
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*When mouse hovers over link*/
li a:hover {
    background: #111111
}

/* Page content */
.content {
    margin-top: 30px;
}

.main {
    background-color: blueviolet;
    height: 1500px;
    
}

body {
    margin: 0;
}

p {
   padding: 10px; 
}

h1 { 
    padding: 10px;
}
