.navbar {
    height: 100px;
}

/* Unordered list (navbbar) */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blue;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* List (navbar) */
li {
    float: left;
    width: 25%;
    text-align: center;
}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 15%;
    height: 60px;
}

li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

/* Page content */
.content {
    padding: 20px;
    height: 1000px;
    margin: 0;
    width: 100%;
}
    
}

body {
    margin: 0;
    width: 100%;
}

.header {
    background-color: teal;
    padding: 60px;
    text-align: center;
    margin-top: ;
}

* {
    margin: 0;
}